body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #3c3934;
  font-weight: 400;
}

.navigation-band {
  background-image: url("images/nav.jpg");
  background-repeat: no-repeat;
  background-position: 20px 17px;
}

.container img {
  display: block;
  height: auto;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  text-align: center;
  margin: 5px auto 10px auto;
}

.logo img {
  width: 100px;
}

.bar {
  width: 100%;
  height: 7px;
  background-color: #f7f854;
}

h1 {
  font-size: 1em;
  text-align: center;
  padding: 50px 20px 20px 20px;
  font-weight: lighter;
  line-height: 1.4em;
}

.footer-text {
  font-size: 0.7em;
  text-align: center;
  padding: 25px;
  font-weight: lighter;
  color: #7a7a7c;
}

.content .row {
  text-align: center;
}

.btn-dorm {
  background-color: #f9f9fb;
  color: #3c3934;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 260px;
  height: 77px;
  margin: 15px auto;
  font-weight: 500;
}

.btn-project {
  background-color: #f9f9fb;
  color: #3c3934;
  text-align: center;
  width: 200px;
  height: 175px;
  margin: 10px auto;
  border: 2px solid transparent;
}

.btn-image {
  background-color: #f9f9fb;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

.btn-image img {
  max-width: 110px;
  padding: 10px 0;
}

.style-page .align-img .col-xs-6:nth-child(odd) {
  text-align: right;
}

.style-page .align-img .col-xs-6:nth-child(even) {
  text-align: left;
}

.style-page .row .col-xs-6,
.style-page .row .col-sm-6,
.personality-page .col-xs-6,
.personality-page .col-sm-6 {
  width: 50%;
}

.map-image .col-md-12 {
  padding: 0;
}

.bottom-navigation .btn-sm {
  color: #FFFFFF;
  background-color: #86b8db;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  font-width: 600;
  padding: 5px 35px;
  text-transform: uppercase;
}

.btn-group-lg > .btn, .btn-lg {
  border-radius: 1rem;
}

.btn-group-sm > .btn, .btn-sm {
  border-radius: 1.4rem;
}

button.btn.btn-lg.btn-dorm {
  color: #3c3934;
  font-size: 2rem;
}

.bottom-navigation .col-sm-6 {
  width: 50%;
}

.bottom-navigation {
  margin: 80px auto 90px auto;
  padding-bottom: 90px;
}

.project-size {
  font-size: 1rem;
  margin: 5px 0 5px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.button-description {
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
  word-wrap: break-word;
}

.project-icon {
  margin: 0 auto;
  width: 54px;
}

.btn-lg:hover {
  background-color: #f9f9fb;
  border-color: #f9f9fb;
}

.btn:focus, .btn:active {
  border: 2px solid #85b8da;
  outline: none !important;
  box-shadow: none;
}

.bottom-navigation .btn,
.bottom-navigation .btn:hover {
  border: none;
}

button span {
  display: block;
}

.personality-page button span {
  font-size: 0.75rem;
  font-weight: 500;
}

.personality-page .btn-image {
  background-color: transparent;
}

/*IMAGE MAPPING PAGE*/
/* .bottom-section {
  min-height: 350px;
  position: relative;
  overflow: hidden;
} */

.bottom-section{
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 380px;
}


.save-share-icons {
  position: absolute;
  right: 20px;
  bottom: 60px;
}

.save-share-icons span {
  margin-left: 5px;
}

/*.nav {
  margin:20px 0;
}*/
.nav-link {
  /*padding: .5rem 0.5rem;*/
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  background-color: #dddddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 2px;
  border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #85b8da;
  border: none;
  color: #FFFFFF;
}

.btn-tooltip {
  position: absolute;
  top: 186px;
  left: 40px;
  width: 100px;
  height: 115px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.media-body {
  padding: 0 0 0 10px;
}

.addtocart {
  color: #FFFFFF;
  background-color: #86b8db;
  border: none;
  text-align: center;
}

.addtocart.btn-sm {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 0.8rem;
  font-weight: 600;
}

/* .nav-wrapper {
  position: absolute;
  z-index: 10000;
  height: 320px;
  height: 430px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: -388px;
  background-color: #FFFFFF;
  padding: 0 10px;
} */
.nav-wrapper {
  position: absolute;
  z-index: 10000;
  height: 14%;
  right: 0;
  left: 0;
  margin-right: 0px;
  margin-left: 0px;
  bottom: 0px;
  background-color: #FFFFFF;
}



.slide-up {
  bottom: 0px !important;
  height: 100%;
  transition: all .5s ease-in-out;
}

.slide-down {
  bottom: -388px !important;
  transition: all .5s ease-in-out;
}

.share-popup {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.styles-texts {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px 6px;
  display: inline-block;
}
.color1 {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.color2 {
  background-color: #000000;
}
.color3 {
  background-color: #5f2f0d;
}
.color4 {
  background-color: #ce2424;
}
.color5 {
  background-color: #f17900;
}
.color6 {
  background-color: #eed700;
}
.color7 {
  background-color: #80d15e;
}
.color8 {
  background-color: #5bd7cf;
}
.color9 {
  background-color: #5cb4d5;
}
.color10 {
  background-color: #2069e8;
}
.icons-personality img {
  width: 110px;
}
.icon-mood img {
  width:110px;
}

table.swipe {
  margin-bottom: 50px;
}
table.swipe img {
  max-width: unset;
  width: 85px;
}
table.swipe td {
  padding-right: 30px;
}

.t {
  max-height: 60vh;
}

/*TEMP*/
/*DESKTOP*/
@media screen and (min-width: 992px) and (max-width: 9999px) {
  body {
    background-color: #C0C0C0;
  }

  #bbb-wrapper {
    background-color: #FFFFFF;
    width: 400px;
    margin: 0 auto;
  }
}

.scroll-right {
  display: flex;
  overflow-x: scroll;
}
