body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #3c3934;
  font-weight: 400;
}

.navigation-band {
  background-image: url("images/nav.jpg");
  background-repeat: no-repeat;
  background-position: 20px 17px;
}

.navigation-band .row {

}
.cartlink {
  background-image: url("images/cart-user.gif");
  background-repeat: no-repeat;
  display: block;
  width: 71px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 10px;
  text-indent: -9999px;
}

.container img {
  display: block;
  height: auto;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  text-align: center;
  margin: 7px auto 10px auto;
}

.logo img {
  width: 100px;
}

.bar {
  width: 100%;
  height: 7px;
  background-color: #f7f854;
}

h1 {
  font-size: 1em;
  text-align: center;
  padding: 20px 24px 0 24px;
  font-weight: lighter;
  line-height: 1.4em;
}

.footer-text {
  font-size: 0.7em;
  text-align: center;
  padding: 25px;
  font-weight: lighter;
  color: #7a7a7c;
}

.content .row {
  text-align: center;
}

.btn-dorm {
  background-color: #f9f9fb;
  color: #3c3934;
  text-transform: uppercase;
  border: 2px solid transparent;
  text-align: center;
  width: 260px;
  height: 65px;
  margin: 15px auto;
  font-weight: 500;
}

.btn-project {
  background-color: #f9f9fb;
  color: #3c3934;
  text-align: center;
  width: 200px;
  height: 159px;
  margin: 10px auto;
  border: 2px solid transparent;
}

.btn-image {
  background-color: #f9f9fb;
  margin-bottom: 5px;
  border: 2px solid transparent;
}

.btn-image img {
  /*max-width: 110px;*/
  padding: 10px 0;
}

.style-page .align-img .col-xs-6:nth-child(odd) {
  text-align: right;
}

.style-page .align-img .col-xs-6:nth-child(even) {
  text-align: left;
}

.style-page .row .col-xs-6,
.style-page .row .col-sm-6,
.personality-page .col-xs-6,
.personality-page .col-sm-6,
.cart-page .col-xs-6 {
  width: 50%;
}

.map-image .col-md-12 {
  padding: 0;
}

.bottom-navigation .btn-sm{
  color: #FFFFFF;
  background-color: #86b8db;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  font-width: 600;
  padding: 5px 35px;
  text-transform: uppercase;
}

.desk-bottom-button {
  text-align: center;
}

.desk-bottom-button .btn {
  color: #FFFFFF;
  background-color: #86b8db;
  border: none;
  text-align: center;
  font-size: 0.8rem;
  font-width: 600;
  padding: 5px 15px;
  border-radius: 0.4rem;
}


.btn-group-lg > .btn, .btn-lg {
  border-radius: 1rem;
}

.btn-group-sm > .btn, .btn-sm {
  border-radius: 1.4rem;
}

button.btn.btn-lg.btn-dorm {
  color: #3c3934;
  font-size: 2rem;
}

.bottom-navigation .col-sm-6 {
  width: 50%;
}

.bottom-navigation {
  margin: 0px auto 90px auto;
  padding-bottom: 90px;
}

.project-size {
  font-size: 1rem;
  margin: 5px 0 5px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.button-description {
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
  word-wrap: break-word;
}

.project-icon {
  margin: 0 auto;
  width: 54px;
}

.btn-lg:hover {
  background-color: #f9f9fb;
  /*border-color: #f9f9fb;*/
}


.bottom-navigation .btn,
.bottom-navigation .btn:hover {
  border: none;
}

button span {
  display: block;
}

.personality-page button span {
  font-size: 0.75rem;
  font-weight: 500;
}

.personality-page .btn-image {
  background-color: transparent;
}

/*IMAGE MAPPING PAGE*/
/* .bottom-section {
  min-height: 350px;
  position: relative;
  overflow: hidden;
} */

.bottom-section{
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 380px;
}

.save-share-icons {
  position: absolute;
  right: 20px;
  bottom: 60px;
}

.save-share-icons span {
  margin-left: 5px;
}

.nav {
  margin:20px auto 0 auto;
  width: 333px;
}
.nav-link {
  /*padding: .5rem 0.5rem;*/
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
  background-color: #dddddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 2px;
  border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #85b8da;
  border: none;
  color: #FFFFFF;
}

.btn-tooltip {
  position: absolute;
  top: 186px;
  left: 40px;
  width: 100px;
  height: 115px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.media-body {
  padding: 0 0 0 10px;
}

.addtocart {
  color: #FFFFFF;
  background-color: #86b8db;
  border: none;
  text-align: center;
}

.addtocart.btn-sm {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 0.8rem;
  font-weight: 600;
}

/* .nav-wrapper {
  position: absolute;
  z-index: 10000;
  height: 320px;
  height: 430px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: -388px;
  background-color: #FFFFFF;
  padding: 0 10px;
} */
.nav-wrapper {
  position: absolute;
  z-index: 10000;
  /*height: 14%;*/
  height: 20%;
  right: 0;
  left: 0;
  margin-right: 0px;
  margin-left: 0px;
  bottom: 0px;
  background-color: #FFFFFF;
}
.nav-wrapper .tab-content .mood-table {
  padding-bottom: 50px;
}

.slide-up {
  bottom: 0px !important;
  height: 100%;
  transition: all .5s ease-in-out;
}

.slide-down {
  bottom: -388px !important;
  transition: all .5s ease-in-out;
}

.share-popup {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.styles-texts {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 20px;
}

#nav-styles {
  padding: 0 15px;
}

.circle {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px 6px;
  display: inline-block;
}

.color1 {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.color2 {
  background-color: #000000;
}

.color3 {
  background-color: #5f2f0d;
}

.color4 {
  background-color: #ce2424;
}

.color5 {
  background-color: #f17900;
}

.color6 {
  background-color: #eed700;
}

.color7 {
  background-color: #80d15e;
}

.color8 {
  background-color: #5bd7cf;
}

.color9 {
  background-color: #5cb4d5;
}

.color10 {
  background-color: #2069e8;
}

.icons-personality img {
  width: 110px;
}

.icon-mood img {
  width: 110px;
}

.personality-table {
  margin-top: 10px;
}

table {
  margin:0;
  padding:0;
  background:none;
  border:none;
  border-collapse:collapse;
  border-spacing:0;
  background-image:none;
}

.personality-table table.swipe img,
.mood-table table.swipe img {
  max-width: unset;
  width: 85px;
}

#nav-tabContent {
  background-color: #f5f6f7;
  margin:0 -15px;
}

.furniture-table table.swipe,
.lamp-table table.swipe {
  height: 145px;
}

.furniture-table table.swipe td {
  min-width: 200px;
}
.lamp-table table.swipe td {
  min-width: 150px;
}
.furniture-table table.swipe img {

}

.seeall,
.seeall-disabled {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 60px;
}

.detail-tables {
  text-align: center;
}

.personality-table table.swipe td,
.mood-table table.swipe td{
  padding-right: 20px;
}

.personality-table div {
  font-size: 0.7rem;
  text-align: center;
}

.accordion-wrapper .accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: transparent;;
}

.accordion-wrapper .active, .accordion:hover {
  /*background-color: #ccc;*/
}

.accordion-wrapper .accordion:after {
  content: '';
  width: 15px;
  height: 8px;
  background-image: url("images/arrow-closed.gif");
  position: absolute;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  right: 20px;
}

.accordion-wrapper .active:after {
  content: '';
  width: 15px;
  height: 8px;
  background-image: url("images/arrow-open.gif");
  position: absolute;
}

.accordion-wrapper .panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-wrapper {
  padding-bottom: 50px;
}

.accordion-wrapper p {
  font-size: 1.2rem;
  font-weight: 500;
}

/*CART PAGE*/
.right-side {
  text-align: left;
}
.left-side {
  text-align: right;
}
.btn-purchase {
  text-align: center;
}
.cart-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
}
.price {
  color: #3f3779;
  font-weight: 500;
}
.description-cart,
.cart-page span {
  font-size: 0.8rem;
  font-weight: 600;
}
.cart-purchase-button {
  text-align: center;
  margin-top: 120px;
}
.cart-purchase-button .btn {
  background-color: #86b8da;
  color:#FFFFFF;
  font-weight: 700;
  padding-right: 20%;
  padding-left: 20%;
}
#sel1 {
  width: 52px;
  font-size: 0.8rem;
  font-weight: 700;
  height: 31px;
}
.temp-align {
  position: relative;
}
.edit {
  position: absolute;
  right: 32px;
  bottom: 6px;
}
.cart-title {
  color: #0d0356;
  font-weight: 700;
  margin-top: 20px;
}
.bar-blue {
  background-color: #0d0356;
  width: 100%;
  height: 6px;
  margin:5px 0 20px 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus  {
  outline: none !important;
  box-shadow: none !important;
}
/*.dorm-page .btn-lg:hover,
.project-page .btn-lg:hover {
  border-color: #86b8db;
}*/

.highlight {
  border: 2px solid #86b8db !important;
}
.select-icon {
  border-radius: 1rem;
  background-color: #f5f6f7;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.mood-table span {
  border-radius: 1rem;
  background-color: #FFFFFF;
  padding: 0.7rem 0.7rem;
  display: inline-block;
}

.highlight-yellow span {
  background-color: #f7f854;
  margin: 0 16px;
}

/*STYLE SIZE FIT IN MOBILE*/
.style-page .style-image .btn-image img {
  width:87px;
}
.personality-page .btn-lg {
  padding: 0;
  border-radius: unset;
}
.personality-page .bottom-navigation {
  margin-top: 20px;
}



/*DESKTOP*/
@media screen and (min-width: 992px) and (max-width: 9999px) {
  body {
    background-color: #C0C0C0;
  }
  #bbb-wrapper {
    background-color: #FFFFFF;
    width: 400px;
    margin: 0 auto;
  }
}
/*iPhone 6, 7, & 8 Plus in landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
  body {
    display: none;
    background-color: black;
  }

}

/* Portrait */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .style-page .style-image .btn-image img {
    width: 100px;
  }
  .bottom-navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
  }
}


/*iPhone XR*/
/* 1792x828px at 326ppi
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2)
and (orientation : portrait) {
  .bottom-navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .btn-project {
    height: 152px;
  }
  .style-page .style-image .btn-image img {
    width: 111px;
  }
}*/

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
  .project-page h1 {
    padding-bottom: 0;
  }
  .style-page .style-image .btn-image img {
    width: 100px;
  }
  .bottom-navigation {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
  }
}



/*iPhone 5 & 5S in portrait*/
@media screen and (device-aspect-ratio: 40/71)
and (orientation : portrait) {
  .nav {
    width: 265px;
    margin-top: 7px;
  }
  .nav-tabs .nav-link {
    font-size: 0.8rem;
    padding: .5rem 0.7rem;
  }
  .circle {
    margin: 10px 4px;
  }
  .big-list-tables .col-xs-6 {
    width:50%;
  }
  .edit {
    right:12px;
  }
}

